*{
    margin: 0;
    padding: 0;
    ;
}
@import "./utilidades/mixins";
@import "./utilidades/variables.scss";
$estilossecciontitulo: (
    fondo: #f4f4f4,
    alto: 99px,
);
/* SECCION NAVBAR */
.fondoNav{
    background-color: gainsboro;
}
.padreMenu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
}
.MenuInicio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-link{
    color: black;
}
/* FIN SECCION NAVBAR */

/* SECCION INDEX */
.titulo { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($estilossecciontitulo,fondo );
    height: map-get($estilossecciontitulo,alto );
    margin-bottom: 20px;
    margin-top: 0px;
}
.titProductos{
    font-size: 35px;
    font-family: $fuente-titulos;
    font-weight: bold;
}
.seccionCard {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "card1 card2 card3";
    grid-area: seccionCard;
    margin-left: 40px;
    margin-right: 40px;
}
.card1 { 
    grid-area: card1; 
    @include flex-column-center;
}
.card2 { 
    grid-area: card2;
    @include flex-column-center;
}
.card3 { 
    grid-area: card3;
    @include flex-column-center;
}
.tituloCard{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
}
.fontBoton{
    font-family: 'Gugi', cursive;
}
.fondoBoton{
    background-color: darkorange;
}
.tituloInformacion { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($estilossecciontitulo,fondo );
    height: map-get($estilossecciontitulo,alto );
    margin-top: 20px;
    margin-bottom: 20px;
}
.titInformacion{
    font-size: 30px;
    font-family: $fuente-titulos;
    font-weight: bold;
}
.seccionInformacion {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    grid-auto-flow: row;
    grid-template-areas:
        "info1 info2 info3";
    grid-area: seccionInformacion;
    margin-right: 40px;
    margin-left: 40px;
    height: 250px;
}
.info1 { 
    grid-area: info1;
    display: flex;
    align-items: center;
    border: solid 2px white;
    line-height: 1.5;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    background-image: url(https://cherry-brightspot.s3.amazonaws.com/6f/bf/27e435f74c7e8fe74b52cc4b464f/istock-886004314.jpg);
    background-size: cover;
    height: 250px;
}
.info2 { 
    grid-area: info2;
    display: flex;
    align-items: center;
    border: solid 2px white;
    line-height: 1.5;
    font-weight: bold;
    color: white; 
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    background-image: url(https://fotos.perfil.com/2021/02/10/trim/950/534/bitcoins-criptomonedas-20210210-1125945.jpg);
    background-size: cover;
    height: 250px;
}
.info3 { 
    grid-area: info3;
    display: flex;
    align-items: center;
    border: solid 2px white;
    line-height: 1.5;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    background-image: url(https://pysnnoticias.com/wp-content/uploads/2021/12/Mejores-criptomonedas-para-invertir-a-corto-plazo.jpg);
    background-size: cover;
    height: 250px;
}
/* FIN SECCION INDEX */

/* SECCION FOOTER */
.footerContactos{
    color: black;
    font-size: 20px;
    margin-top: 30px;
    background-color: #f4f4f4;
    border-bottom: $bordes; 
    font-family: 'Open Sans', sans-serif;
}
.division{
    border-top: $bordes;
}
.imgLogo{
    height: 60px;
}
.redesSociales{
    display: flex;
}
.logoFace{
    height: $logo-redes;
}
.logoInsta{
    height: $logo-redes;
}
.menuSecundario{
    list-style-type: none;
}
.subscribite{
    display: flex;
    flex-direction: column;
}
.ingresarMail{
    border: 1px solid grey;
    height: 30px;
    font-size: 15px;
    width: 80%;
}
.botonSubs{
    margin-top: 30px;
    height: 30px;
    width: 100px;
    text-align: center;
    border: 0px;
    background-color: darkorange;
    color:whitesmoke;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #6c757d;
    font-family: 'Gugi', cursive;
}
.botonSubs:hover{
    background-color: #495057;
}
/* FIN SECCION FOOTER */

/* SECCION PLACAS */
.tituloPlacas { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($estilossecciontitulo,fondo );
    height: map-get($estilossecciontitulo,alto );
    text-align: center;
}
.tituloSeccionPlacas{
    @extend .titProductos;
}
.cardPlacas { 
    margin-left: 10%; 
    @include flex-column-center;
}
.card-img{
    border-bottom: $bordes;
}
.tituloOf { 
    grid-area: titulo2; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($estilossecciontitulo,fondo );
    height: map-get($estilossecciontitulo,alto );
    margin-top: 25px;
}
.tituloOfertas{
    @extend .titInformacion;
}
.promos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 25px;
}
.imgPromo{
    max-width: 100%;
    height: 140px;
    width: 350px;
}
/* FIN SECCION PLACAS */

/* SECCION RIGS */
.seccionTituloRigs{
    display: flex;
    background-color: map-get($estilossecciontitulo,fondo );
    height: map-get($estilossecciontitulo,alto );
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tituloRigs{
    @extend .titProductos;
}
.contenedorCards{
    margin-top: 0px;
}
.cardRigs{
    margin-left: 10%;
    @include flex-column-center;
}
.tipoPromo{
    text-align: center;
    font-size: 25px;
    width: 100px;
    margin-left: 120px;
    background-color: #00000080;
    border-radius: 10px;
    border: 2px solid #000000;
    color: white;
}
/*FIN SECCION RIGS */

/* SECCION OTROS PRODUCTOS */
.seccionTituloProd{
    display: flex;
    background-color: map-get($estilossecciontitulo,fondo );
    height: map-get($estilossecciontitulo,alto );
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tituloOtrosProd{
    @extend .titProductos;
}
.cardOtrosProd{
    margin-left: 10%;
    @include flex-column-center;
}
/*FIN SECCION OTROS PRODUCTOS */

/* SECCION CONTACTOS */
.seccionTitulo{
    display: flex;
    background-color: map-get($estilossecciontitulo,fondo );
    height: map-get($estilossecciontitulo,alto );
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
}
.tituloContacto{
    @extend .titProductos;
}
.mapa{
    max-width: 100%;
}
.wsp{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 47px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
}
.wsp:hover{
    text-decoration: none;
    color: #0df053;
    background-color: white;
}
/*FIN SECCION CONTACTOS */

/* SECCION MEDIA QUERIES */
@media (max-width: 768px) {
    .gridContenedorPlacas{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr 1fr 0.5fr;
        grid-template-areas:
        "NavBarPlacas" 
        "titulo"
        "seccionCard" 
        "tituloOf" 
        "seccionInformacion"
        "footer"; 
    }
    .seccionInformacion {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "info1" 
        "info2" 
        "info3";
        height: 100%;
    } 
    .seccionCard{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "card1" 
        "card2" 
        "card3";
        gap: 5px 0px;

    }
    .info1{
        background-size: 100% 100%;
    }
    .info2{
        background-size: 100% 130%;
    }
    .info3{
        background-size: 100% 100%;
    }
}
@media (min-width: 769px) {
    .info1{
        background-size: 100% 100%;
    }
    .info2{
        background-size: 100% 100%;
    }
    .info3{
        background-size: 100% 100%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .info1{
        font-size: 20px;
    }
    .info2{
        font-size: 20px;
    }
    .info3{
        font-size: 20px;
    }
}
/* FIN SECCION MEDIA QUERIES */